.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #313e5c;
  margin: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #e8e8e8;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px black;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
  slider-color: white;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

.custom-tabs-container {
    width: 100%;
}

.custom-tabs {
    border-top-left-radius: 0px;
    background-color: transparent;
    padding: 0px 0px;
    border-bottom: 0px solid #d6d6d6;
}

.custom-tab {
    color: black;
    border-radius: 4px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px !important;
    background-color: #fafbfc;
    padding: 2px !important;
    font-family: Dosis;
    display: inline !important;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.custom-tab--selected {
    color: #9DDCFA;
    /*box-shadow: 1px 1px 0px white;*/
    border-left: 0px solid lightgrey !important;
    border-right: 0px solid lightgrey !important;
    border-top: 3px solid #9DDCFA !important;
    border-bottom: 0px;
}

#individual_graph,
#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

#count_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#countGraphContainer {
  flex: 5;
  position: relative;
}

.mini_container {
  border-radius: 5px;
  background-color: #e8e8e8;
  margin: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 2px black;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#wells {
  flex: 1;
}